div {
  height: 50px;
  color: red;
  display: inline-block;
}

.text1 {
  color: blue;
  font-size: 50px;
}
.text2 {
  color: red;
  font-size: 50px;
}
.ton1 {
  color: blue;
}
.ton2 {
  color: red;
}
.ton3 {
  color: blue;
}
.bot1 {
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: blue;
  border: 2px solid black;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.bot2 {
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: green;
  border: 2px solid black;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.b1 {
  margin-top: px;
  margin-top: 50px;
  height: 100px;
  width: 200px;
  background-color: red;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 20px;
}
.b2 {
  height: 100px;
  width: 250px;
  background-color: black;
  border-radius: 15px;
  padding: 10px 15px 20px 25px;
  margin-bottom: 20px;
}
.b3 {
  height: 100px;
  width: 300px;
  background-color: blue;
  border-radius: 15px;
  padding: 25px;
}
